<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@superset-ui/embedded-sdk"></script>
    <style>
      iframe {
        width: 100%;
        height: 50%;
        border: none;

        pretext {
          margin-right: 10%;
          margin-left: 10%;
          font-family: Tahoma;
    </style>
  </head>
  <body>
    <div class="pretext">
      <h2>Superset Embedding</h2>
      <p>Dive into Superset</p>
      <div>{{html_table}}</div>
    </div>
  </body>
</html>
